{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'establecimientos' %}">Establecimientos</a>
        </li>
        {% if establecimiento.name %}
            <li class="breadcrumb-item active">Editar Establecimiento {{ establecimiento.name }}</li>
        {% else %}
            <li class="breadcrumb-item active">Crear Establecimiento</li>
        {% endif %}
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    {% if aula.number %}
                        <h5>Editar Establecimiento</h5>
                    {% else %}
                        <h5>Crear Establecimiento</h5>
                    {% endif %}
                    <hr>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}