{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Establecimientos</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-xs-6 d-flex align-items-center">
                    <i class="fas fa-table mr-1"></i>
                     Listado de Establecimientos
                </div>
                <div class="col-4 col-xs-4 text-right">
                    <a class="btn btn-success btn-md" href="{% url 'establecimientoCreate' %}">
                        Crear
                    </a>
                </div>
            </div> 
        </div>
        <div class="card-body" id="elementCard">
            <div class="table-res">
                <table class="table w-100 table-hover display" id="" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for establecimiento in establecimientos %}
                        <tr>
                            <td>{{ establecimiento.name }}</td>
                            <td>{{ establecimiento.address }}</td>
                            <td>
                                <a href="{% url 'establecimientoDetail' establecimiento.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                </a>
                                <a href="{% url 'establecimientoEdit' establecimiento.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Editar" data-toggle="tooltip">edit</i>
                                </a>
                                <a href="{% url 'establecimientoDelete' establecimiento.id %}" class="text-danger text-decoration-none">
                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
