.sidebar span, .sticky-footer span {
    color: #FFFFFF;
}

.asteriskField {
    color: #c00;
    margin-left: 4px;
}

th { cursor: pointer; }

th:after, th:before {
    font-weight: normal;
}

.indexInicial-base-info {
	font-size: 16px;
	font-family: Open Sans,sans-serif;
}

.small-card {
	min-height: 146px;
}

@media (max-width: 1023px) and (min-width: 575px) {
	#indexInicial .indexInicial-base-info .custom-card:nth-child(2n - 1) {
    padding-right: 0;
	}
}

.card {
	-webkit-box-direction: normal;
	box-sizing: border-box;
}

.card-1 .card-header, .card-2 .card-header, .card-3 {
	color: #ffffff;
	border-radius: .25rem .25rem 0 0;
    border-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    font-family: Open Sans,sans-serif;
    text-align: left;

}

.card-1 .card-header {
	background-color: #464854;
	}

.card-3 {
	background-color: #464854;
}

.info-ayuda {
	float:right;
	margin-right: -15px;
}

.badge .info-ayuda {
    outline: none;
    vertical-align: -1px;
}

.badge {
	display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.card .card-tabs  {
    border-radius: .25rem .25rem 0 0;
    color: #fff;
    border-bottom: 0;
    background: #724d8c;
    font-family: Open Sans,sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.detalles-link {
	text-align: right;
}


.total {
	font-weight: 500;
    font-size: 25px;
    color: #494949;
}

.totals {
	padding-bottom: 8px
}

.info-fecha {
	text-align: left;
	font-size: 16px;
}


.details-link-solicitudes {
	text-align: center;
	padding-bottom: 10px;
}


.panel-default>.panel-heading {
	background-image:none;
    background-color: #f5f5f5 !important;
}

.ctrl {
	text-align: center;
    font-weight: bold;
}

.filter {
	background: none;
}

#filtros {
    display: none;
}

.inputFilter {
    padding-right: 8px;
    padding-bottom: 5px;
}

.textoAcordion {
    margin-bottom: 5px;
}

.headerAcordion {
    padding-left: 10px;
}

.accLabel {
    padding-top: 3px;
}