<div class="card">
    <h5 class="card-header text-center">Reserva</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h5>Reserva asociada: <a href={% url 'reservationDetail' reservation.id %}>Reserva N° {{reservation.id}}</a>
                </h5>
                <div class="text-right">
                    <a href="{% url 'reservationEdit' reservation.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'reservationDelete' reservation.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>