{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">SOs</li>
    </ol>
{% endblock hilos %}

<!-- Contenido de la Página-->
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-xs-6 d-flex align-items-center">
                    <i class="fas fa-table mr-1"></i>
                     Listado de Sistemas Operativos
                </div>
                <div class="col-4 col-xs-4 text-right">
                    <a class="btn btn-success btn-md" href="{% url 'soCreate' %}">
                        Crear
                    </a>
                </div>
            </div> 
        </div>
        <div class="card-body" id="elementCard">
            <div class="table-responsive">
                <table class="table w-100 table-hover display" id="" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción </th>
                            <th>Virtualizado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for so in sos %}
                        <tr>
                            <td>{{ so.name }}</td>
                            <td>{{ so.description }}</td>
                            <td>{% if so.virtualized %} Si {%else%} No {%endif%}</td>
                            <td>
                                <a href="{% url 'soDetail' so.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                </a>
                                <a href="{% url 'soEdit' so.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Editar" data-toggle="tooltip">edit</i>
                                </a>
                                <a href="{% url 'soDelete' so.id %}" class="text-danger text-decoration-none">
                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('table.display').DataTable({
                "info": false,
                "searching": false,
                "lengthChange": true,
                "paging": false,
                "ordering": false,
                responsive: true,
            });
        });
    </script>
{% endblock content %}
