{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'pcs' %}">PCs</a>
        </li>
        <li class="breadcrumb-item active">Clonar PC {{ pc.number }}</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <form id="formClonePC">
                <div class="form-group">
                    <div class="form-label-group text-center">
                        <h5>Clonar PC</h5>
                        <div class="alert alert-info" role="alert">
                                Los clones no replican su estado a través del tiempo
                        </div>
                        <hr>
                    </div>
                </div>
                <div id="div_id_number" class="form-group">
                    <label for="id_number" class="col-form-label  requiredField">
                                    PC a <b>Clonar</b><span class="asteriskField">*</span>
                    </label>
                    <div class="">
                    <input type="text" name="number" value="{{pc.number}}" maxlength="10" class="textinput textInput form-control" required="" id="id_number" disabled >
                    </div>
                </div>
                
                <div id="div_id_number" class="form-group">
                    <label for="id_number" class="col-form-label  requiredField">
                                    Número de <b>Clones</b><span class="asteriskField">*</span>
                    </label>
                    <div class="">
                    <input type="number" name="cantidad" value="1" min="0" maxlength="3" class="textinput textInput form-control" required="" id="cantidad" >
                    </div>
                </div>
                <div class="alert alert-info" role="alert">
                        El numerado de los clones se inicializa a partir del <b>número de PC</b> más alto del <b>Aula destino</b>.
                </div>
                <div id="div_id_classroom" class="form-group">
                    <label for="id_classroom" class="col-form-label  requiredField">
                        Aula destino
                        <span class="asteriskField">*</span>
                </label>
                    <div class="">
                        <select name="classroom" class="select form-control" required id="id_classroom">

                            <option value="">---------</option>
                            <option value="{{pc.classroom.id}}" selected="">{{pc.classroom}}</option>
                            {% for aula in aulas %}
                                {% if aula.id != pc.classroom.id %}
                                    <option value="{{aula.id}}">{{aula.number}}</option>
                                {% endif %}
                            {% endfor%}
                        </select>
                    </div>
                </div>

                <div id="div_id_so" class="form-group">
                    <label for="id_so" class="col-form-label requiredField">
                                <i>Sistemas Operativos </i> y <i>SWs</i> a <b>Clonar</b><span class="asteriskField" >*</span>
                    </label>
                    {% for so in pc.so.all %}

                    <ul class="list-group">
                    <li class="list-group-item alert alert-dark">
                        <div class="row ">
                            <div class="col-6 ">{{so.name | title}}</div>
                            <div class=" col-6">
                                {%for pc_so_sw in pc_so_sws %}
                                        {% if pc_so_sw.pc_so.so == so %}
                                            <span class="badge badge-primary badge-pill mb-3 ml-3  "> {{pc_so_sw.sw}} </span>
                                        {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                    <div id="div_id_details" class="form-group">
                            <label for="id_details" class="col-form-label  requiredField">
                                        Detalles<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="text" name="details" value="{{pc.details}}" maxlength="300" class="textinput textInput form-control" required="" id="id_details" disabled>
                            </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="cloneBTN" class="save btn btn-primary btn-block">
                        <span id="cloneSpinner"class="spinner-border spinner-border-sm" role="status" hidden="true"></span>
                        <span id="cloneText">Clonar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
         $(document).ready(function(){
            form = document.getElementById('formClonePC');
            form.addEventListener('submit', function(event){
            event.preventDefault();
            clone_pc();
            });
        });
        async function clone_pc(){
            let form = document.getElementById('formClonePC');

            if (!form.checkValidity()) {
                return false;
            }
            //desabilitar el boton desepues de clic, porque tarda un poco en clonar
            $("#cloneBTN").attr("disabled", true);
            $("#cloneText").text("Clonando...");
            $("#cloneSpinner").attr("hidden", false);
            var cantidad = document.getElementById("cantidad").value;
            var e_aula = document.getElementById("id_classroom");
            var aula = e_aula.options[e_aula.selectedIndex].value;
            var pc = "{{pc.id}}"
            url_to_fectch = `/api/pc/${pc}/clonar/${cantidad}/aula/${aula}/`;
            await fetch(url_to_fectch).catch(err => console.error(err));
            url_pcs = "{% url 'pcs'%}"
            window.location.replace(url_pcs);

        }
    </script>

{% endblock content %}

