{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'pcs' %}">PCs</a>
        </li>
        {% if pc.number %}
            <li class="breadcrumb-item active">Editar PC {{ pc.number }}</li>
        {% else %}
            <li class="breadcrumb-item active">Crear PC</li>
        {% endif %}
    </ol>
{% endblock hilos %}

{% block content %}
    {% if not existen_aulas %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es necesario crear un <b>Aula</b> previamente a la creación de un PC.
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'aulaCreate' %}" class="btn btn-success btn-block">Crear Aula</a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if not existen_sos %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es recomendable crear un <b>SO</b> previamente a la creación de un PC para poder asignarlo a la misma.
                Sin embargo es posible asignarlo posteriormente a su creación en la <b>Edición</b> de una PC.
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'soCreate' %}" class="btn btn-success btn-block">Crear SO</a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    {% if pc.number %}
                        <h5>Editar PC {{ pc.number }}</h5>
                    {% else %}
                        <h5>Crear PC</h5>
                    {% endif %}
                    <hr>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {% if not existen_aulas %}
                <button type="submit" class="btn btn-dark btn-block" disabled>Guardar</button>
                {% else %}
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                {% endif %}
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/fn.chosen.js' %}"></script>
{% endblock content %}