{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SysLab - Admin</title>

    <link href='{% static "css/fullcalendar/fullcalendar.min.css" %}' rel='stylesheet'/>
    <link href='{% static "css/fullcalendar/fullcalendar.print.min.css" %}' rel='stylesheet' media='print'/>
    <link href='{% static "css/fullcalendar/scheduler.min.css" %}' rel='stylesheet'/>
    <link href="{% static "css/jquery.qtip.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap-4.3.1/css/bootstrap.min.css" %}" rel="stylesheet">
    <!--
    Bootstrap4C https://haubek.github.io/chosen/
    Chosen con estilo de Bootstrap
    -->
    <link href="{% static "vendor/chosen_v1.8.7/component-chosen.css" %}" rel="stylesheet">
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">

    <!--
    AIR DATEPICKER https://github.com/t1m0n/air-datepicker
    -->
    <link href="{% static "css/datepicker.min.css" %}" rel="stylesheet">
    <!--
    jQuery Timepicker https://github.com/jonthornton/jquery-timepicker
    -->
    <link href="{% static "css/jquery.timepicker.css" %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/icon" href="{% static "img/favicon.ico" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="{% static "js/moment.min.js" %}"></script>
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/datatables/responsive.dataTables.min.css" %}" rel="stylesheet">

    <!--
    AIR DATEPICKER
    -->
    <script src="{% static "js/datepicker.js" %}"></script>
    <script src="{% static "js/i18n/datepicker.es.js" %}"></script>

    <!--
    jQuery Timepicker https://github.com/jonthornton/jquery-timepicker
        -->
    <script src="{% static "js/jquery.timepicker.js" %}"></script>
    <!--
    Chosen https://github.com/harvesthq/chosen
    -->
    <script src="{% static "vendor/chosen_v1.8.7/chosen.jquery.min.js" %}"></script>
</head>
