<!DOCTYPE html>
<html lang="en">
<div id="indexInicial">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-5 block-customize base-info-block-wrap">
        <div class="indexInicial-base-info">
          <div class="row">
            <div class="col-sm-12 card-1 mb-3 custom-card small-card">
              <div class="card">
                <div class="card-header">
                  Reservas
                  <div class="badge info-ayuda" >
                    <i class="fas fa-info-circle" data-trigger="hover" id="tooltip" data-toggle="tooltip" data-placement="top" title="Cantidad de Reservas concretadas"></i>
                  </div>
                </div>
                <div class="card-body">
                  <div class="totals">
                    <div class="total">
                      Total: {{ reservationIndex.count }}
                    </div>
                  </div>
                  <div class="dates">
                    <div class="row">
                      <div class="col-8 info-fecha">
                        {{ today }}
                      </div>
                      <div class="col-4 detalles-link">
                        <a href="{% url 'reservations' %}">Ver
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
          
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-xl-7 block-customize bookings-block-wrap">
        <div class="indexInicialReservas">
          <div class="card">
            <div class="card-header card-3">
              Últimas Solicitudes entrantes
              <div class="badge info-ayuda" >
                    <i class="fas fa-info-circle" data-trigger="hover"  id="tooltip" data-toggle="tooltip" data-placement="top" title="Resumen de Solicitudes nuevas, ver detalles para mas información"></i>
              </div>
            </div>
            <div class="card-body">
              <div class="table-contenido" id="elementCard">
                  <div class="table-responsive">
                    <table class="table table-hover w-100" id="tablaSolicitudesIndex" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Solicitante</th>
                          <th>Fecha de inicio</th>
                          <th>Fecha de fin</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for request in requests reversed %}
                       {% if forloop.counter0 <= 4 %}
                        <tr>
                          <td>{{ request.owner }}</td>
                          <td>{{ request.slots_set.first.day }}</td>
                          <td>{{ request.slots_set.last.day }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="detalles-link">
                <div class="row"> 
                  <div class="col-md-3 offset-md-9 details-link-solicitudes">
                    <a href="{% url 'requests' %}">Ver Detalles
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div> 
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#tablaSolicitudesIndex').DataTable({
            "info": false,
            "searching": false,
            "lengthChange": true,
            "ordering": true,
            "dom": 't<"bottom">',
            responsive: true,
        });
      });
</script>
</html>
