{% load static %}
<script src="{% static "js/fullcalendar/fullcalendar.min.js" %}"></script>
<script src="{% static "js/fullcalendar/scheduler.min.js" %}"></script>
<script src="{% static "js/fullcalendar/es.js" %}"></script>
<script src="{% static "vendor/bootstrap-4.3.1/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
<script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "vendor/datatables/dataTables.bootstrap4.js" %}"></script>
<script src="{% static "js/sb-admin.min.js" %}"></script>
<script src="{% static "js/demo/datatables-demo.js" %}"></script>
<script src="{% static "js/jquery.qtip.js" %}"></script>
<script src="{% static "js/dataTables.responsive.min.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            container: '#content-wrapper'
        })
    });
</script>

				  