<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SysLab - Login</title>
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="{% static "img/favicon.ico" %}">
  </head>
  <body class="bg-dark" id="bodyutn">
    <div id="containerLogin">
      <div class="card card-login mx-auto mt-5">
        <div class="card-headerLogin">
        	<div class="imgStyle">
        		<img src="{% static "/img/SysLab.png" %}" class="img-responsive">
        	</div>
        	<br>
        	<p>Sistema de Reservas de Aulas Informáticas</p>
        	<hr>
        	<p class="mb-0">Acceso al Sistema</p>
    	  </div>
        <div class="card-body">
            <form method="post" novalidate>
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input" value="Docente" name="rol-selection">
                            </div>
                        </div>
                        <label class="form-control">Docente</label>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input" value="Becario" name="rol-selection">
                            </div>
                        </div>
                        <label class="form-control">Becario</label>
                    </div>
                </div>
                {% csrf_token %}
                {{form|crispy }}
                <div class="form-actions-no-box">
                    <input type="submit" name="submit" value="Ingresar" class="btn btn-primary form-control" id="submit-id-submit">
                </div>
              
            </form>
        </div>
      </div>
    </div>
    <footer class="sticky-footerLogin">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span class="Firstfooter">Derechos reservados @{% now "Y" %} UTN-FRRe</span>
          <br>
          <span class="Firstfooter">Facultad Regional Resistencia - Universidad Tecnológica Nacional</span>
        </div>
      </div>
    </footer>
  </body>

</html>
