

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'aulas' %}">PCs SOs & SWs</a>
        </li>
        <li class="breadcrumb-item active">PC: {{ pc_so_sw.pc }} ,SO: {{ pc_so_sw.so }} ,SW: {{ pc_so_sw.sw }}</li>
    </ol>
{% endblock hilos %}
<!-- Contenido de la Página-->
{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
        	<form method="POST">
        	{% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </div>
   			 </form>
        </div>
    </div>
{% endblock content %}
