{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'pc_so_sws' %}">PC SO SW</a>
        </li>
        <li class="breadcrumb-item active">PC SO SW {{ pc_so_sw.pc }} {{ pc_so_sw.so }} {{ pc_so_sw.sw }}</li>
    </ol>
{% endblock hilos %}
<!-- Contenido de la Página-->
{% block content %}
    <div class="card  mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group" style="text-align: center;">
                    <h5>Ver detalle PC SO SW {{ pc_so_sw.pc }} {{ pc_so_sw.so }} {{ pc_so_sw.sw }}</h5>
                    <hr>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>PC:</b> {{ pc_so_sw.pc }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>SO:</b> {{ pc_so_sw.so }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>SW:</b> {{ pc_so_sw.sw }}
                </div>
            </div>
            <div class="form-group">
                <a href="{{instace.get_absolute_url}} editar/ " class="btn btn-primary btn-block">Editar</a>
                <a href="{{instace.get_absolute_url}} borrar/" class="btn btn-danger btn-block">Eliminar</a>
            </div>
            <input type="hidden" id="pc_so_swId" value="{{ pc_sw_sw.id }}" />
        </div>
    </div>
{% endblock content %}
