{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sws' %}">SWs</a>
        </li>
        <li class="breadcrumb-item active">Asignar a Aula</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <!-- alerta sw -->
    {% if not existen_sws %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es necesario crear un <b>SW</b> previamente a su asignación.
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'swCreate' %}" class="btn btn-success btn-block">Crear SW</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- alerta aula -->
    {% if not existen_aulas %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es necesario crear una <b>Aula</b> previamente.
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'aulaCreate' %}" class="btn btn-success btn-block">Crear Aula</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- alerta so -->
    {% if not existen_sos %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es necesario crear un <b>SO</b> previamente a su asignación.
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'soCreate' %}" class="btn btn-success btn-block">Crear SO</a>
            </div>
        </div>
    </div>
    {% endif %}

    <form method="POST" id="formAssigment">
        {% csrf_token %}
        <div class="card card-formAulas mx-auto">
            <div class="card-body">
                <div class="form-group">
                    <div class="form-label-group" style="text-align: center;">
                        <h5>Asignar SW a Aula</h5>
                        <hr>
                    </div>
                </div>
                <div>
                    <div id="div_id_sw" class="form-group">
                        <label for="id_sw" class="col-form-label  requiredField">
                            SW
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="sw" class="select form-control form-control-chosen" required="" id="id_sw">
                                <option value="" selected="">---------</option>
                                {% for sw in sws %}
                                <option value="{{sw.id}}">{{sw}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="div_id_so" class="form-group">
                        <label for="id_so" class="col-form-label  requiredField">
                            SO
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <select name="so" class="select form-control" required="" id="id_so">
                                <option value="" selected="">---------</option>
                                {% for so in sos %}
                                <option value="{{so.id}}">{{so}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="div_id_aula" class="form-group">
                        <label for="id_aula" class="col-form-label  requiredField">
                            Aula
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="">
                        <select name="aula" class="select form-control" required="" id="id_aula">
                            <option value="" selected="">---------</option>
                            {% for aula in aulas %}
                            <option value="{{aula.id}}">{{aula}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    {%  if not existen_aulas or not existen_sos or not existen_sws %}
                    <div class="form-group">
                        <button disabled class="btn btn-dark btn-block" type="submit">Asignar</button>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <button id="assigmentBtn" onclick="assigment()" type="submit" class="btn btn-primary btn-block" >
                            <span id="assigmentSpinner" class="spinner-border spinner-border-sm" role="status" hidden="true"></span>
                            <span id="assigmentText">Asignar</span>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="{% static 'js/fn.chosen.js' %}"></script>
    <script type="text/javascript">
        function assigment() {
            form = document.getElementById('formAssigment');

            if (!form.checkValidity()) {
                return false;
            }
            $('#assigmentBtn').attr('disabled', true);
            $('#assigmentSpinner').attr('hidden', false);
            $('#assigmentText').text('Asignando...');
            form.submit();
        }
    </script>
{% endblock content %}