{% extends 'base.html' %}
{% load static %}
{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">SWs</li>
    </ol>
{% endblock hilos %}

<!-- Contenido de la Página-->
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-xs-8 d-flex align-items-center">
                    <i class="fas fa-table mr-1"></i>
                     Listado de Software
                </div>
                <div class="col-4 col-xs-4 text-right">
                    <a class="btn btn-success btn-md" href="{% url 'swCreate' %}">
                        Crear
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body" id="elementCard">  
            <div class="table-responsive">
                <table class="table w-100 table-hover display" id="" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for sw in sws %}
                        <tr>
                            <td>{{ sw.name }}</td>
                            <td>{{ sw.description }}</td>
                            <td>
                                <a href="{% url 'swDetail' sw.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                </a>
                                <a href="{% url 'swEdit' sw.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Editar" data-toggle="tooltip">edit</i>
                                </a>
                                <a href="{% url 'swDelete' sw.id %}" class="text-danger text-decoration-none">
                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/fn.datatables.js' %}"></script>
{% endblock content %}
