{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sws' %}">SW</a>
        </li>
        <li class="breadcrumb-item active">SW {{ sw.name }}</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group" style="text-align: center;">
                    <h5>Ver detalle SW {{ sw.name }}</h5>
                    <hr>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Nombre:</b> {{ sw.name }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Descripcion:</b> {{ sw.description }}
                </div>
            </div>
            <div class="form-group">
                <a href="{% url 'swEdit' sw.id %}" class="btn btn-primary btn-block">Editar</a>
                <a href="{% url 'swDelete' sw.id %}" class="btn btn-danger btn-block">Eliminar</a>
            </div>
            <input type="hidden" id="swId" value="{{ sw.id }}" />
        </div>
    </div>
{% endblock content %}
